@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark light;
	}

	body.dark {
		color: #fff;
	}

	body.dark::before {
		filter: invert(1);
	}

	.dark main {
		background: #222227;
	}

	.dark .dayName {
		color: #ddd;
		background-color: #444;
	}

	.dark .dayTime {
		color: #ccc;
		background-color: #333;
	}

	.dark .day {
		border-left-color: #111;
	}

	.dialogBox {
		background-color: #222;
	}
	.dialogBox::before {
		background-color: #333;
	}
}
